<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.NoSql.Layout.JsonLayout, log4net.NoSql" />
  </appender>
  <appender name="Elastic1" type="log4net.NoSql.Appender.ElasticSearchAppender, log4net.NoSql">
    <Host value="localhost" />
    <Port value="9200" />
    <Index value="test_applogs" />
    <DocumentType value="application1" />
    <layout type="log4net.NoSql.Layout.JsonLayout, log4net.NoSql" />
  </appender>
  <appender name="Elastic2" type="log4net.NoSql.Appender.ElasticSearchAppender, log4net.NoSql">
    <Host value="localhost" />
    <Port value="9200" />
    <Index value="test_applogs" />
    <DocumentType value="application2" />
    <layout type="log4net.NoSql.Layout.JsonLayout, log4net.NoSql" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="Console" />
    <appender-ref ref="Elastic1" />
    <appender-ref ref="Elastic2" />
  </root>
</log4net>